{% extends 'base.html' %}


{% block content %}
    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1>Zamonaviy Mahsulotlar Magazini</h1>
                <p>Eng yaxshi mahsulotlarni eng qulay narxlarda xarid qiling</p>
                <a href="{{ url_for('product_list') }}" class="btn btn-primary">Mahsulotlarni ko'rish</a>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section class="features">
        <div class="container">
            <h2 class="section-title">Nima uchun bizni tanlaysiz?</h2>
            <div class="features-grid">
                <div class="feature-card">
                    <div class="feature-icon">🚚</div>
                    <h3>Tez yetkazib berish</h3>
                    <p>Butun O'zbekiston bo'ylab 1-3 kun ichida yetkazib berish</p>
                </div>
                <div class="feature-card">
                    <div class="feature-icon">✅</div>
                    <h3>Sifat kafolati</h3>
                    <p>Barcha mahsulotlarga 1 yillik kafolat beramiz</p>
                </div>
                <div class="feature-card">
                    <div class="feature-icon">💳</div>
                    <h3>Qulay to'lov</h3>
                    <p>Naqd, karta va bo'lib to'lash imkoniyati</p>
                </div>
                <div class="feature-card">
                    <div class="feature-icon">🎁</div>
                    <h3>Chegirmalar</h3>
                    <p>Doimiy mijozlar uchun maxsus takliflar</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Popular Products -->
    <section class="popular-section">
        <div class="container">
            <h2 class="section-title">Mashhur mahsulotlar</h2>
            <div class="products-grid">
                {% if popular_products %}
                    {% for pop_product in  popular_products %}
                        <div class="product-card">
                            <div class="product-image">
                                <img src="{{ url_for('static', filename=pop_product.image) }}" alt="Smartphone" class="product-img">
                            </div>
                            <div class="product-info">
                                <h3>{{ pop_product.name }}</h3>
                                <p class="product-desc"> {{ pop_product.description }} </p>
                                <p class="price">  {{ pop_product.price }} so'm</p>
                                <a href="{{ url_for('product_detail', id=pop_product.id) }}" class="btn btn-secondary">Batafsil</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="product-desc"> Hozircha mahsulotlar yo'q</p>
                {% endif %}

        </div>
    </section>

{% endblock %}
